.pd1 {
    border: black solid 1px;
    height: 300px;
    width: 700px;
    border-radius: 30px;
}
.pd2{
    height: 260px;
    width: 660px;
    border: black solid 1px;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 20px;
    border-style: dashed;
}
.pd3{
    height:220px;
    width: 620px;
    border: black solid 1px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 10px;
}
p{
    text-align: center;
    margin-top: 15%;
}

#car{
    width: 53px;
    height: 53px;
    position: absolute;
    right: 1063px;
    top: 90px;
    animation:mymove 10s infinite;
}
@keyframes mymove{
    0%   {top:0px; left:0px;}
    25%  {top:0; left:660px;}
    50%  {top:260px; left:660px;}
    95%  {top:260px; right:0px;}
    100% {top:0px; left:0px;}
}
#car:hover{
    animation-play-state:paused;
}
