.td-1{color: crimson;width: 700px;height: 30px;background-color: #70B7F5;text-align: center;}
.td-2{width: 200px;height: 30px;text-align: end;}
.td-3{width: 200px;vertical-align: 0%;text-align: end;}
td{background-color: antiquewhite;}

